/*反馈页*/
/**
**
**	reback
**
*/
body {
    background-color: #fff;
    padding-top: 50px;
}
#header{
    background-color: #337ab7;
    padding-bottom: 3%;
}
#header .log{
    position: relative;
    padding-top: 3%;
    color: #fff;

}
#header .log strong{
    padding-left: 9%;
}

#rebackPage .main-center{
    width:90%;
    margin: 0 auto;
}
#rebackPage .center{
    position: relative;
    margin: 3% auto;
    display: block;
}
#rebackPage option{
    size:18px;
    text-align: center;
}
