/*反馈页*/
/**
**
**	reback
**
*/
body {
    background-color: #fff;
    padding-top: 50px;
}
#header{
    background-color: #337ab7;
    padding-bottom: 3%;
}
#header .log{
    position: relative;
    padding-top: 3%;
    color: #fff;

}
#header .log strong{
    padding-left: 9%;
}

#rebackPage .main-center{
    width:90%;
    margin: 0 auto;
}
#rebackPage .center{
    position: relative;
    margin: 3% auto;
    display: block;
}


.s_txt {
    width: 60%;
    height: 34px;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    padding-left: 10px;
}

.s_sub {
    border: 1px solid rgb(230, 80, 30);
    color: rgb(230, 80, 0);
    border-radius: 3px;
    text-align: center;
    padding: 0;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    width: 30%;
    background-color: white;
}


.dm {
    margin: 20px;
    text-align: center;
}

.dm_screen {
    border: 1px solid rgb(229, 229, 229);
}

.dm .dm_screen .dm_mask {
    width: 90%;
    height: 380px;
}

.dm .dm_screen .dm_show div {
    font-size: 22px;
    line-height: 36px;
    font-weight: 500;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
}