* {
    margin: 0;
    padding: 0;
}
	li {
	    list-style-type: none;
	}
	a {
	    text-decoration: none;
	}
	table {
	    border-spacing: 0;
	    border-collapse: collapse;
	}

/*总的设置*/
	body {
    	background-color: #fff;
	}
	p {
	    text-indent: 2em;
	}

/*输入书名查询页*/
#header{
	background-color: #337ab7;
	padding-bottom: 3%;
}
.log{
	position: relative;
	padding-top: 3%;
	color: #fff;
	
}
.log strong{

	padding-left: 9%;
}
.input-box{
	padding-top: 5%; 
}
.center{
	position: relative;
	margin-top: 5%;
}
 /*.error{*/
	/*color: #f00;*/
	/*display: none;*/
/*}*/
 /*复制书籍编号引导页*/
.book-show a{
	float: right;
}
.book-show h3{
	float: left;
	font-size: 14px;
}
.book-show span{
	float: right;
}

/*输入编号查询页*/

/*书架页*/
	.booklist li{
		border: 1px #000 solid;
		height: 1%;
		margin: 5px 0 ;
		text-align: center;
		size:12px;
	}
	/*需要改变方向的书架列*/
		.booklist .mid-left{
		transform:rotate(180deg);
		-ms-transform:rotate(180deg); /* IE 9 */
		-webkit-transform:rotate(180deg); /* Safari and Chrome */
		}	
		.booklist .right{
		transform:rotate(180deg);
		-ms-transform:rotate(180deg); /* IE 9 */
		-webkit-transform:rotate(180deg); /* Safari and Chrome */
		}
	/*一些标记，如桌子，消防通道，过道*/
		.booklist .l-wall{
			height: 66px;
			border: 1px #ccc solid;
		}
		.booklist .l-across{
			height: 20px;
		}
	.door-in{

	}
		/*为后期动画做准备*/
/*error信息是隐藏的*/


/*用来先隐藏掉书架布局*/

/*#first-floor{*/
/*display: none;*/
/*}*/
/*#second-floor{*/
/*display: none;*/
/*}*/
/*#three-floor{*/
/*display:none;*/
/*}*/

/*被选中的书架，考虑不同的颜色表示，面向哪*/
.booklist .current{
	background: #f00;
	height: 20px;
}
.booklist .current-door{

}
.booklist .current-wall{

}
		
		
	
