h1, h2, h3, p, div, input, button, body, ul, li, img, a {
	margin: 0;
	padding: 0;
}
	li {
	    list-style-type: none;
	}
	a {
	    text-decoration: none;
	}
	table {
	    border-spacing: 0;
	    border-collapse: collapse;
	}
	/*清除Chrome input 中的focus样式*/
	input, button, select, textarea {
		outline: none;
	}
	a img {
		border: none;
	}

/*总的设置*/
	body {
		background-color: #fff;
		padding-top: 50px;
	}
	p {
	    text-indent: 2em;
	}
	
/*error信息是隐藏的*/
	.error{
		color: #f00;
		margin: 10px auto;
		display: none;
	}
	#warp{
		width: 90%;
		margin: 0 auto;
	}
	#findBtn{
	margin: 3% auto 50px;
	width: 50%;
	display: block;
	}


/*书籍选择片段*/
	.book-show{
		/*display: none;*/
	}
	.book-show li{
		border: 1px #ccc solid;
	}
	/*书名*/
	.book-show h3{
		float: left;
		color: #337AB7;
	}
	/*书籍的编号*/
	.book-show h4{
		color: #999;
	}
	/*可借副本*/
	.book-show span{
		size: 12px;
		float: right;
		color: #999;
	}
	.ajaxError{
		color:#777;
		margin-top: 30%;
		border-top: 1px #888 dashed;
	}
	.ajaxError h5{
		padding: 5px 10px;
		border: 1px #f00 solid;
		display: inline;
	}
	.ajaxError .input-group{
		width: 60%;
		margin: 3% auto;
	}
/*用户浏览过的书籍选择片段*/
	.need-book li{
		border: 1px #337ab7 solid;
	}
	/*书名*/
	.need-book h3{
		float: left;
		color: #337AB7;
	}
	/*书籍的编号*/
	.need-book h4{
		color: #999;
	}
	/*可借副本*/
	.need-book span{
		size: 12px;
		float: right;
		color: #999;
	}
	.need-book p{
		color: #f00;
	}

/*书架页*/
	.booklist li{
		border: 1px #000 solid;
		height: 1%;
		margin: 5px 0 ;
		text-align: center;
		size:12px;
	}
	/*需要改变方向的书架列*/
		.booklist .mid-left{
		transform:rotate(180deg);
		-ms-transform:rotate(180deg); /* IE 9 */
		-webkit-transform:rotate(180deg); /* Safari and Chrome */
		}	
		.booklist .right{
		transform:rotate(180deg);
		-ms-transform:rotate(180deg); /* IE 9 */
		-webkit-transform:rotate(180deg); /* Safari and Chrome */
		}
	/*一些标记，如桌子，消防通道，过道*/
		.booklist .l-wall{
			height: 66px;
			border: 1px #ccc solid;
		}
		.booklist .l-across{
			height: 20px;
		}
		.door-in{
			border: 1px #000 solid;
			width: 40%;
			margin: 10px auto;
		}
		/*为后期动画做准备*/
	.loading{
		color: #555;
		display: none;
	}
	 .current{
		text-align: center;
		background: #f00;
		height: 20px;
	}


/*用来先隐藏掉书架布局*/

	#first-floor{
		display: none;
		padding-top: 5%;
		padding-bottom:30%;
	}
	#second-floor{
		display: none;
		padding-top: 5%;
		padding-bottom:30%;
	}
	#three-floor{
		display:none;
		padding-top: 5%;
		padding-bottom:30%;
	}



/*mybook*/
		
	
